.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.bg-body-secondary {
    background-color: white !important;
    --bs-secondary-bg-rgb: 255, 77, 77;
    border-radius: 1px;
    border-color: #111111;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body {
    background: #e5ded8;
    box-sizing: border-box;
}
.post-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
    @media screen and (min-width: 480px) {
        width: 28rem;
    }
    @media screen and (min-width: 767px) {
        width: 40rem;
    }
    @media screen and (min-width: 959px) {
        width: 50rem;
    }
}

.post-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
    &:hover {
        border-color: #ff4d4d;
        color: #ff4d4d;
    }
}

.post-cover {
    background: #FFEBCD;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}
.post-author,
.post-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
}
.post-author h3::before,
.post-author--no-cover h3::before {
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
}
.post-author h3 {
    color: #fff;
    font-weight: 100;
}
.post-author--no-cover h3 {
    color: lighten(#333, 40%);
    font-weight: 100;
}
.post-body {
    margin: 0 auto;
    width: 80%;
}
.video-body {
    height: 100%;
    width: 100%;
}
.post-title h1 a {
    color: #333;
    font-weight: 100;
}
.post-summary p {
    color: lighten(#333, 10%);
}
.post-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.post-tags li + li {
    margin-left: .5rem;
}
.post-tags a {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

.post-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
}
.post-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}
.post-footer li:first-child {
    margin-right: auto;
}
.post-footer li + li {
    margin-left: .5rem;
}
.post-footer li {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    & a {
        color: lighten(#333, 40%);
    }
}
.published-date {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    padding: 0 .5rem;
}
.numero {
    position: relative;
    top: -0.5rem;
}



input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #333333;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

textarea {
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 0.4rem;
    width: 99%;
    border: 1px solid;
}

input[type=submit] {
    padding: 5px 15px;
    background: #DEB887;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


